{% extends "base.html" %}

{% block content %}
<h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Fire Incident</h1>
<form method="POST">
    {% csrf_token %}
    
    {{ form.as_p }}

    {% if form.temperature.errors %}
        <ul>
            {% for error in form.temperature.errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.humidity.errors %}
        <ul>
            {% for error in form.humidity.errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.wind_speed.errors %}
        <ul>
            {% for error in form.wind_speed.errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <button type="submit">Save</button>
</form>
{% endblock %}
